* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr5;
}

body {
    margin: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

section, main, footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}